##
 # @package Koperasi Bintang Tanjung Madani
 # @copyright Koperasi Bintang Tanjung Madani
 # @author Sikelopes
 # @version 1.0
 # @access Public
 # @path /bintangtanjungmadani/.htaccess
 ##
 
<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond $1 !^(index\.php)
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>